.App {
  text-align: center;
}

.logo-img {
  max-width: 90%;
}

.App-header {
  background-color: #006649;
  width: 30%;
  padding-bottom: 45px;
  display: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  display: inline-block;
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-page {
  background-image: url("/background.jpg"); 
  /* free image from: https://www.pexels.com/photo/green-leaf-1353938/ */
  min-height: 100vh;
}

.submit-btn {
  background-color: #74BD43;
  color: white;
  padding: 6px 10px;
  text-align: center;
  /* border-radius: 5px; */
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.logout-btn {
  position: absolute;
  right: 0;
  background-color: #74BD43;
  color: white;
  padding: 6px 10px;
  text-align: center;
  border-color: #006649;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.link-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}